/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

.cf-turnstile {
    display: block;
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 150px);
    z-index: 1;
}
